*{
    margin: 0px;
}

.Navbar{
    display: flex;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(235, 237, 237);
}

.Navbar button{
    height :55px;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
    width : 200px;
    color:aliceblue;
    border-radius: 4px;
    border: none;
    background-color: rgb(12, 91, 209);
}


button:hover{
    border:3px solid rgb(46, 75, 120);
}

button:active{
    border:5px solid rgb(46, 75, 120);
}

#prediction{
    margin-left:150px;
}

#analysis{
    height :55px;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
    width : 200px;
    color:aliceblue;
    border-radius: 4px;
    border: none;
    background-color: rgb(8, 109, 26);
}


#analysis:hover{
    border:3px solid rgb(46, 75, 120);
}

#analysis:active{
    border:5px solid rgb(46, 75, 120);
}
