.body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.upload-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #007BFF; /* Bootstrap blue */
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #007BFF;
    border-radius: 4px;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#pdfUpload {
    display: none;
}

.upload-button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.upload-button:hover {
    background-color: #0056b3;
}